body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #0C2438;
}

.reload {
    display: block;
    margin: 0 auto;
    text-align: right;
    border-radius: 10px;
    background-color: red;
    color: white;

    &:hover {
        background-color: #1DA756;
    }

}